.card-widget.card-ip
  .card-content
  .item-headline
    i.fa.fa-user(aria-hidden="true")
    span= _p('aside.card_ip')
  .ip_content
   = _p('欢迎来自 ')
   span(class="p red")= _p('快乐星球')
   = _p(' 的小可爱')
   br
   = _p('访问IP为： ')
   span(class="p cyan")= _p('0001.0011.0001.0100')
   br
   = _p('浏览器版本：')
   span(class="p blue")= _p('website 1.1')